body { 
	background: #feffe8; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #feffe8 0%,#d6dbbf 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #feffe8 0%,#d6dbbf 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #feffe8 0%,#d6dbbf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

main { 
	width: 960px; padding: 60px; margin: 0 auto; 
}

a:link, a:visited {
	color: #444;
	font-weight: bold;
	text-decoration: none;
}

h1 { 
	font: 72px/72px 'Esteban','Helvetica Neue',sans-serif; font-weight: 400; text-align: center;
}

section { 
	font: 16px/18px 'Helvetica Neue',sans-serif; padding: 0 40px; 
}

table { 
	border-collapse: collapse; 
}

th { 
	background-color: rgba(255,255,255,0.5); font: 18px 'Esteban', 'Helvetica Neue',sans-serif; 
}

th, td { 
	padding: 8px; border: 1px solid black; 
}

td { 
	font-size: 14px; }

tr:nth-child(even) { 
	background-color: rgba(255,255,255,0.2); 
}