<!DOCTYPE HTML>
<html>
	<head>
		<title>My First News App: Detail</title>
		<meta charset='utf-8'> 
		<link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<main>
			<h1>{{ object.full_name }}</h1>
            <h2>A {{ object.age }} year old,
            {{ object.race }} {{ object.gender|lower }} died on {{ object.date }}
            in a {{ object.type|lower }} at {{ object.address }} in {{ object.neighborhood }}.</h2>
        <section>
	        <p>{{ object.story }}</p>
	    </section>
		</main>
	</body>
</html>

