<!DOCTYPE HTML>
<html>
	<head>
		<title>My First News App: NICAR 2014</title>
		<meta charset='utf-8'> 
		<link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<main>
			<h1>Deaths during the L.A. Riots</h1>
			<section>
				<table>
					<tr>
						<th>Name</th>
						<th>Date</th>
		                <th>Type</th>
		                <th>Address</th>
		                <th>Age</th>
		                <th>Gender</th>
		                <th>Race</th>
					</tr>
				{% for obj in object_list %}
					<tr>
						<td><a href="{{ obj.id }}/">{{ obj.full_name }}</a></td>
						<td>{{ obj.date }}</td>
		                <td>{{ obj.type }}</td>
		                <td>{{ obj.address }}</td>
		                <td>{{ obj.age }}</td>
		                <td>{{ obj.gender }}</td>
		                <td>{{ obj.race }}</td>
					</tr>
				{% endfor %}
				</table>
			</section>
		</main>
	</body>
</html>